.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.inflex {
    display: inline-flex;
}

.hidden {
    display: none;
}

.gtc-270-540-270 {
    grid-template-columns: 270px 540px 270px;
}

.gtr-60-1000 {
    grid-template-rows: 60px 1000px;
}

.item1-gc14 {
    grid-column: 1 / 4;
}

.align-center {
    align-items: center;
}

.jus-between {
    justify-content: space-between;
}

.jus-start {
    justify-content: start;
}

.jus-end {
    justify-content: end;
}

.back-tr {
    background: transparent;
}

.backclr-222 {
    background: rgba(222, 222, 222, 0.32);
}

.br-none {
    border: none;
}

.br-4 {
    border-radius: 4px;
}

.br-26 {
    border-radius: 26px;
}

.clr-ab {
    color: var(--AmberBlack);
}

.clr-sb {
    color: var(--SkyBlue);
}

.clr-ba {
    color: var(--BoldAmber);
}

.clr-aaa {
    color: var(--AAA);
}

.clr-red-btn {
    color: #31B057;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}

.h-32 {
    height: 32px;
}

.mr-20 {
    margin-right: 50px;
}

.mb-25 {
    margin-top: 25px;
}

.padd-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-52 {
    padding-top: 52px;
}
.w-312 {
    width: 312px;
}
