.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.back-fff {
    background-color: #fff;}
.back-tr {
    background: transparent;
}

.backclr-222 {
    background: rgba(222, 222, 222, 0.32);
    
}

.br-none {
    border: none;
}

.br-bt2solid {
    border-bottom: 2px solid;
    border-color: #dedede;
    width: 240px;
}

.br-1px069 {
    border: 1px solid var(--SkyBlue);
}

.br-4 {
    border-radius: 4px;
}

.br-26 {
    border-radius: 26px;
}

.br-46 {
    border-radius: 46px;
}

.clr-ab {
    color: var(--AmberBlack);
}

.clr-sb {
    color: var(--SkyBlue);
}

.clr-ba {
    color: var(--BoldAmber);
}

.clr-aaa {
    color: var(--AAA);
}

.clr-red-btn {
    color: #31B057;
}

.clr-dedede {
    color: #dedede;
}

.col-gap {
    row-gap: 16px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.fixed {
    position: fixed;
}


.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}
.gap2 {
    gap: 2px;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}

.gap70 {
    gap: 70px;
}

.grow-1 {
    flex-grow: 1;
}

.gtc-270-540-270 {
    grid-template-columns: 270px 540px 270px;
}

.gtr-60-1000 {
    grid-template-rows: 60px 1040px;
}

.hidden {
    display: none;
}

.h-20 {
    height: 20px;
}

.h-32 {
    height: 32px;
}

.h-56 {
    height: 56px;
}

.h-90 {
    height: 125px;
}

.inflex {
    display: inline-flex;
}

.item1-gc14 {
    grid-column: 1 / 4;
}

.jus-between {
    justify-content: space-between;
}

.jus-start {
    justify-content: start;
}

.jus-end {
    justify-content: end;
}

.jus-center {
    justify-content: center;
}

.lh-20 {
    line-height: 20px;
} 

.mr-20 {
    margin-right: 50px;
}

.mb-25 {
    margin-top: 25px;
}

.no-wrap {
    flex-wrap: nowrap;
}

.padd-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-22 {
    padding-top: 22px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-52 {
    padding-top: 52px;
}

.pt-72 {
    padding-top: 72px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-174 {
    padding-bottom: 294px;
}

.pl-10 {
    padding-left: 10px;
}

.text-center {
    text-align: center;
}

.transition-04 {
    transition: width 0.4s ease-in-out;
}

.w-250 {
    width: 270px;
}

.w-312 {
    width: 312px;
}

.w-520 {
    width: 520px;
}
