body {
    background-color: #F5F6F8;
    color: var(--color-text);
    padding-top: 56px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 12px 0;
    z-index: 1001;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-inner .logo {
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 18px;
}

.header-inner .search {
    background-color: rgba(222, 222, 222, 0.32);
    display: flex;
    height: 32px;
    padding: 7px 9px;
    border-radius: 4px;
    width: 312px;
}

.header-inner .search input {
    background-color: transparent;
    border: none;
    margin-left: 16px;
    flex-grow: 1;
}

.header-inner .search input::placeholder {
    color: #aaa;
}

.header-inner .navbar {
    display: flex;
    align-items: center;
    padding-left: 68px;
}

.header-inner .navbar a {
    display: flex;
    align-items: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}

.header-inner .navbar a:not(:last-child) {
    margin-right: 32px;
}

.header-inner .navbar a span {
    display: none;
    transform: translateY(2px);
    margin-left: 6px;
    color: var(--color-primary);
}

.header-inner .navbar a.active span {
    display: inline;
}

.header-profile {
    display: flex;
    align-items: center;
}

.header-profile p {
    font-size: 12px;
}

.header-profile small {
    font-size: 10px;
    color: #31B057;
}

.header-profile p,
.header-profile small {
    text-align: right;
    display: block;
}

.header-profile .image {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.header-profile figure {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    overflow: hidden;
}

.main-content {
    display: flex;
    padding-top: 16px;
    gap: 0 30px;
}

.page-left,
.page-right {
    width: 270px;
    flex-shrink: 0;
}

.page-content {
    flex-grow: 1;
}

.card-profile .head {
    background-image: url('../img/card-profile-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.card-profile .head figure {
    width: 52px;
    height: 52px;
    border-radius: 9999px;
    border: 2px solid #fff;
    overflow: hidden;
    margin-bottom: 8px;
}

.card-profile .head p {
    margin-bottom: 4px;
}

.card-profile .item {
    display: flex;
    justify-content: space-between;
}

.card-profile .item:not(:last-child) {
    margin-bottom: 16px;
}

.create-box input {
    width: 540px;
    height: 62px;
}

.newest p {
    height: 14px;
    color: #006699;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group figure {
    width: 12px;
    height: 12px;
}

.group-active {
    display: flex;
}

.users-blue figure {
    width: 12px;
    height: 12px;
}

.users-blue span {
    height: 14px;

}

.users-blue div {
    display: flex;
}

.add-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-event span {
    height: 16px;
}
.add-event figure img {
    width: 20px;
    height: 20px;
}

.navbar-2 figure {
    width: 20px;
    height: 20px;
}

.navbar-2 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-2 .photo {
    display: flex;
}

.navbar-2 .video {
    display: flex;
}

