.grid-container {
    margin: 0 auto;
    width: 1180px;
    height: 1170px;
    background-color: yellow;
  }
  
  .grid-container > div {
    background-color: #fff;
    text-align: center;
    padding: 5px;
  }

  .icon-search:focus {
    outline: none;
  }