hr {
    margin: 16px 0;
    border-color: #EDF0F5;
    border-style: solid;
}

.text-main {
    color: var(--color-text);
}

.text-primary {
    color: var(--color-primary);
}

.text-mute {
    color: var(--color-text-mute);
}

.text-md {
    font-size: 16px;
    font-weight: 500;
}

.text-sm {
    font-size: 14px;
    font-weight: 400;
}